{% extends 'base.html.twig' %}

{% block title %}Formulaire{% endblock %}

{% block body %}
    <h1 class="py-5 text-center"><i class="fas fa-film"></i>Add movie<i class="fas fa-film"></i></h1>
    <div style="margin: 50px">
        {{ form(form) }}
    </div>
{% endblock %}