{% extends 'base.html.twig' %}

{% block title %}Form{% endblock %}

{% block body %}
    <h1 class="py-5 text-center"><i class="fas fa-film" style="margin-right: 10px"></i>Update movie<i class="fas fa-film" style="margin-left: 10px"></i></h1>
    <div style="margin: 50px">
        {{ form(form) }}
    </div>
{% endblock %}