<!--
Header
=========================================================================================================
-->
<ion-header>
  <ion-toolbar class="ion-text-center">
    <img src="assets/logo.png">
  </ion-toolbar>
</ion-header>
<!--
Footer
=========================================================================================================
-->
<ion-footer>
  <ion-toolbar class="ion-text-center">
    <ion-button color="primary">
      <ion-icon slot="icon-only" name="more"></ion-icon>
    </ion-button>
    <ion-button color="secondary">
      <ion-icon slot="icon-only" name="more"></ion-icon>
    </ion-button>
    <ion-button color="success">
      <ion-icon slot="icon-only" name="more"></ion-icon>
    </ion-button>
    <ion-button color="warning">
      <ion-icon slot="icon-only" name="contact"></ion-icon>
    </ion-button>
    <ion-button color="danger">
      <ion-icon slot="icon-only" name="cart"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>

