#all {
  margin-top: 130px;
  color: black;
}
h1 {
  margin-left: 22px;
}
body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}
h3 {
  text-align: center;
  text-transform: uppercase;
}
form {
  width: 100%;
}
.packmodif {
  width: 47.6%;
  height: 460px;
  float: left;
  margin: 15px;
  margin-bottom: 70px;
  border: 2px solid rgb(25, 56, 120);
  background-color: rgba(75, 75, 75, 0.38);
  box-shadow: 15px 12px 12px 1px rgba(0, 0, 0, 0.7);
  border-radius: 2px;
}
/*****INDEX PACK****/
#index {
  height: 460px;
}
#indexintro {
  height: 270px;
}
#subtitle {
  width: 75%;
}
/*****PROJECT PACK*****/
#project {
  height: 460px;
}
#admin {
  height: 100px;
  margin-bottom: 60px;
}
.new {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  float: left;
}
#article {
  width: 50%;
  float: left;
}
#artdesc {
  width: 48%;
  height: 36%;
}
#artdesc textarea {
  width: 70%;
  height: 99%;
  margin-left: 40px;
}
#article, #artdesc {
  display: inline-block;
  text-align: top;
}
#desc {
  width: 320px;
  height: 120px;
}
#thales {
  height: 860px;
}
#thales #article {
  height: 500px;
}
