extends skeleton.pug

block content

    a(href="/games") Accueil parties

    h1 Création d'une partie

    form(action="/games", method="POST")
        select(name="mode")
            option(value="301") 301
            option(value="around-the-world") Around the World
        p 
            | name: 
            input(type="text", required, name="name")
        input(type="submit" value="Créer")